footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 10px solid #f21d1d;
}

footer>div>img {
    width: 250px;
    margin: 0;
}

footer>div>p {
    margin: 0;
    padding-top: 0.7rem;
}

.footer_icons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.footer_icons{
    font-size: 30px;
    color:black;
}

.footer_icons:hover {
    font-size: 35px;
}

.dark {
    background-color: #07070796;
    color: #ffffff;
}

.dark .footer_icons{
    color: #ffffff;
}

.dark image{
    background-color: rgba(255,255,255) !important;
}